Repository viggidbest/PHP-TODO, changes with the owners that CODEOWNERS names for each.
All owners: @your-org/maintainers, @your-org/php-team, @your-org/js-team, @your-org/devops

frontend success
  frontend/tests/App.spec.js
Owners: @your-org/js-team

Both success
  .github/workflows/ci.yml
Owners: @your-org/devops

Test
  backend/phpunit.xml
Owners: @your-org/php-team

Test
  backend/sonar_probe_breaker.php
Owners: @your-org/php-team

Test
  backend/sonar_probe_breaker.php
Owners: @your-org/php-team

Update to test file
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

Update to test file
  backend/TodoRepository.php
  backend/sonar_probe_breaker.php
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

Update to test file
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

Update to test file
  frontend/src/main.js
Owners: @your-org/js-team

Update to test with unit testcases
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

Frontend Changes
  backend/tests/TodoRepositoryTest.php
  frontend/src/main.js
Owners: @your-org/php-team, @your-org/js-team

Frontend Changes
  backend/tests/TodoRepositoryTest.php
  frontend/src/main.js
Owners: @your-org/php-team, @your-org/js-team

Delete funct corrected
  backend/TodoRepository.php
Owners: @your-org/php-team

Sonarcube fix
  backend/sonar_probe_breaker.php
Owners: @your-org/php-team

fix: upgrade axios from 1.12.2 to 1.13.0
  frontend/package-lock.json
  frontend/package.json
Owners: @your-org/js-team

fix: upgrade vue from 3.5.22 to 3.5.24
  frontend/package-lock.json
  frontend/package.json
Owners: @your-org/js-team

CODEOWNERS:

* @your-org/maintainers
/backend/** @your-org/php-team
/frontend/** @your-org/js-team
/.github/workflows/** @your-org/devops
