Repository viggidbest/PHP-TODO, changes with the owners that CODEOWNERS names for each.
All owners: @your-org/maintainers, @your-org/php-team, @your-org/js-team, @your-org/devops

CODEOWNERS:

* @your-org/maintainers
/backend/** @your-org/php-team
/frontend/** @your-org/js-team
/.github/workflows/** @your-org/devops

Test
  .github/workflows/ci.yml
  backend/phpunit.xml
Owners: @your-org/devops, @your-org/php-team

Test
  backend/phpunit.xml
Owners: @your-org/php-team

New
  .github/workflows/ci.yml
Owners: @your-org/devops

New phpunit
  backend/phpunit.xml
Owners: @your-org/php-team

New
  .github/workflows/ci.yml
Owners: @your-org/devops

Fix
  .github/workflows/ci.yml
Owners: @your-org/devops

Commit
  backend/phpunit.xml
Owners: @your-org/php-team

Change
  .github/workflows/ci.yml
Owners: @your-org/devops

Php
  backend/phpunit.xml
Owners: @your-org/php-team

Testing PR
  .github/workflows/ci.yml
Owners: @your-org/devops

Sonar breaking test
  backend/sonar.json
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

Check
  frontend/index.html
Owners: @your-org/js-team

Redundancy
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

ci.yml change
  .github/workflows/ci.yml
Owners: @your-org/devops

ci.yml
  .github/workflows/ci.yml
Owners: @your-org/devops

Sonar
  .github/workflows/ci.yml
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/devops, @your-org/php-team

Sonar 1
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

Sonar Test
  .github/workflows/ci.yml
Owners: @your-org/devops

Sonar
  .github/workflows/ci.yml
Owners: @your-org/devops

New
  frontend/src/App.vue
Owners: @your-org/js-team

Sonar
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

test commented
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

Sonar
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

Front end change
  frontend/src/main.js
Owners: @your-org/js-team

Sonar
  backend/sonar_probe_breaker.php
Owners: @your-org/php-team

remove
  backend/sonar.json
Owners: @your-org/php-team

ci2.yml
  .github/workflows/c2i.yml
Owners: @your-org/devops

Pre commit
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

Frontend
  frontend/src/main.js
Owners: @your-org/js-team

Frontend
  frontend/src/main.js
Owners: @your-org/js-team

Frontend
  frontend/src/main.js
Owners: @your-org/js-team

New
  frontend/src/main.js
Owners: @your-org/js-team

main js
  frontend/src/main.js
Owners: @your-org/js-team

Fail Test
  frontend/src/App.test.js
Owners: @your-org/js-team

Removed ci.yml
  .github/workflows/c2i.yml
Owners: @your-org/devops

Front end Sonar
  .github/workflows/ci.yml
Owners: @your-org/devops

Sonar
  backend/sonar_probe_breaker.php
Owners: @your-org/php-team

Front end
  frontend/src/App.test.js
Owners: @your-org/js-team

Frontend test
  .github/workflows/ci.yml
  frontend/src/App.test.js
Owners: @your-org/devops, @your-org/js-team

Ci.yml change
  .github/workflows/ci.yml
Owners: @your-org/devops
