Repository viggidbest/PHP-TODO, changes with the owners that CODEOWNERS names for each.
All owners: @your-org/maintainers, @your-org/php-team, @your-org/js-team, @your-org/devops

Coverage check
  backend/TodoRepository.php
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

Check the sonar
  .github/workflows/ci.yml
  backend/phpunit.xml
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/devops, @your-org/php-team

Sonar issue fix
  backend/TodoRepository.php
Owners: @your-org/php-team

Added exclude
  backend/phpunit.xml
Owners: @your-org/php-team

Test
  .github/workflows/ci.yml
Owners: @your-org/devops

Now check
  .github/workflows/ci.yml
Owners: @your-org/devops

Check this
  .github/workflows/ci.yml
Owners: @your-org/devops

Change
  .github/workflows/ci.yml
Owners: @your-org/devops

New change
  .github/workflows/ci.yml
Owners: @your-org/devops

Added cli
  .github/workflows/ci.yml
Owners: @your-org/devops

Main.js
  frontend/src/main.js
Owners: @your-org/js-team

Fronteend ci
  .github/workflows/ci.yml
  frontend/.eslintrc.cjs
  frontend/check-coverage.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.js
  frontend/tests/App.spec.js
  frontend/vite.config.js
  package-lock.json
  package.json
Owners: @your-org/devops, @your-org/js-team, @your-org/maintainers

New
  frontend/check-coverage.js
Owners: @your-org/js-team

Frontend build check
  frontend/check-coverage.js
Owners: @your-org/js-team

Test front end ci
  .github/workflows/ci.yml
Owners: @your-org/devops

Front end ci
  .github/workflows/ci.yml
Owners: @your-org/devops

Commit
  frontend/check-coverage.js
Owners: @your-org/js-team

Test
  frontend/check-coverage.js
Owners: @your-org/js-team

New
  .github/workflows/ci.yml
Owners: @your-org/devops

ci
  .github/workflows/ci.yml
Owners: @your-org/devops

Test
  .github/workflows/ci.yml
Owners: @your-org/devops

Ci frontend
  .github/workflows/ci.yml
Owners: @your-org/devops

Test modified
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

Test modified
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

Automation Script Failure
  backend/TodoRepository.php
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

Correcting the delete functionlaity
  backend/TodoRepository.php
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

Introducing Sonar Issues
  backend/sonar_probe_breaker.php
Owners: @your-org/php-team

Updated Sonarqube
  backend/sonar_probe_breaker.php
Owners: @your-org/php-team

Introducing JSLint error
  frontend/src/main.js
Owners: @your-org/js-team

Corrected JSLint Issue
  frontend/src/main.js
Owners: @your-org/js-team

Breaker Change
  backend/sonar_probe_breaker.php
Owners: @your-org/php-team

Corrected Commit
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

Updating Delete
  backend/TodoRepository.php
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

DB Changes
  backend/TodoRepository.php
  backend/sonar_probe_breaker.php
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

Deploy change
  .github/workflows/ci.yml
Owners: @your-org/devops

Corrected Sonar issue
  backend/sonar_probe_breaker.php
Owners: @your-org/php-team

Try
  .github/workflows/ci.yml
Owners: @your-org/devops

Sonar issue
  backend/sonar_probe_breaker.php
Owners: @your-org/php-team

Sonar
  backend/sonar_probe_breaker.php
Owners: @your-org/php-team

Frontend break
  frontend/tests/App.spec.js
Owners: @your-org/js-team

CODEOWNERS:

* @your-org/maintainers
/backend/** @your-org/php-team
/frontend/** @your-org/js-team
/.github/workflows/** @your-org/devops
