Repository viggidbest/PHP-TODO, changes with the owners that CODEOWNERS names for each.
All owners: @your-org/maintainers, @your-org/php-team, @your-org/js-team, @your-org/devops

converging path issue
  .github/workflows/ci.yml
Owners: @your-org/devops

ci.yml
  frontend/tests/App.test.js
Owners: @your-org/js-team

Test failing Backend Test
  .github/workflows/ci.yml
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/devops, @your-org/php-team

Check if the backend test is working now
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

Test to get max coverage
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

Removed index.php from coverage
  .github/workflows/ci.yml
Owners: @your-org/devops

To fail sonar backend
  backend/sonar_probe_breaker.php
Owners: @your-org/php-team

Lquibase adde dchecking that
  .github/workflows/ci.yml
Owners: @your-org/devops

adding postman script
  .github/workflows/ci.yml
Owners: @your-org/devops

Postman collection fail
  backend/tests/postman/todo_api_collection.json
Owners: @your-org/php-team

pHP LINT CHANGE
  .github/workflows/ci.yml
Owners: @your-org/devops

php lint fail checked
  .github/workflows/ci.yml
Owners: @your-org/devops

Yes
  backend/tests/postman/todo_api_collection.json
Owners: @your-org/php-team

Php lint fail test
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

Correct Php lint
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

Frontend Test
  frontend/tests/App.spec.js
  frontend/tests/App.test.js
Owners: @your-org/js-team

Apee.spec.js
  frontend/tests/App.spec.js
Owners: @your-org/js-team

Install frontedn dependecies
  .github/workflows/ci.yml
Owners: @your-org/devops

Removed it sonar breaking file
  backend/sonar_probe_breaker.php
Owners: @your-org/php-team

Added new app.spec
  frontend/tests/App.spec.js
Owners: @your-org/js-team

vite.config pushed
  frontend/vite.config.js
Owners: @your-org/js-team

Test
  frontend/tests/App.spec.js
Owners: @your-org/js-team

Test
  frontend/vite.config.js
Owners: @your-org/js-team

Package added
  frontend/package-lock.json
  frontend/package.json
Owners: @your-org/js-team

New change
  frontend/tests/App.spec.js
Owners: @your-org/js-team

viteCOnfig change
  frontend/vite.config.js
Owners: @your-org/js-team

New
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.js
  package-lock.json
  package.json
Owners: @your-org/js-team, @your-org/maintainers

Added
  .github/workflows/ci.yml
Owners: @your-org/devops

Change
  .github/workflows/ci.yml
  frontend/tests/App.spec.js
Owners: @your-org/devops, @your-org/js-team

Change
  .github/workflows/ci.yml
Owners: @your-org/devops

Added
  .github/workflows/ci.yml
Owners: @your-org/devops

Change added to test pre commit hook
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

Pre commit hook coverage test
  backend/TodoRepository.php
Owners: @your-org/php-team

Test
  backend/TodoRepository.php
Owners: @your-org/php-team

Check coverage work
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

Test
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

Test
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

Test
  backend/TodoRepository.php
Owners: @your-org/php-team

Test
  backend/tests/TodoRepositoryTest.php
Owners: @your-org/php-team

tsrt
  backend/TodoRepository.php
Owners: @your-org/php-team

CODEOWNERS:

* @your-org/maintainers
/backend/** @your-org/php-team
/frontend/** @your-org/js-team
/.github/workflows/** @your-org/devops
