Repository viggidbest/PHP-TODO, changes with the owners that CODEOWNERS names for each.
All owners: @your-org/maintainers, @your-org/php-team, @your-org/js-team, @your-org/devops

Added seperate Backend and fron Synk scan
  .github/workflows/ci.yml
Owners: @your-org/devops

Edited command
  .github/workflows/ci.yml
Owners: @your-org/devops

Changes to command
  .github/workflows/ci.yml
Owners: @your-org/devops

Test
  .github/workflows/ci.yml
Owners: @your-org/devops

Test
  .github/workflows/ci.yml
Owners: @your-org/devops

Api Test
  .github/workflows/ci.yml
  backend/tests/todo_api_collection.json
Owners: @your-org/devops, @your-org/php-team

commit
  .github/workflows/ci.yml
Owners: @your-org/devops

Commit
  .github/workflows/ci.yml
Owners: @your-org/devops

matt ball 2.0
  .github/workflows/ci.yml
Owners: @your-org/devops

Commented Synk because it is failing
  .github/workflows/ci.yml
Owners: @your-org/devops

Cmmit
  .github/workflows/ci.yml
Owners: @your-org/devops

Changes postman collection location
  backend/tests/postman/todo_api_collection.json
Owners: @your-org/php-team

Report not generated
  .github/workflows/ci.yml
Owners: @your-org/devops

New commit
  .github/workflows/ci.yml
Owners: @your-org/devops

Commit
  .github/workflows/ci.yml
Owners: @your-org/devops

Commit
  .github/workflows/ci.yml
Owners: @your-org/devops

Commit
  .github/workflows/ci.yml
Owners: @your-org/devops

deploy_prod
  .github/workflows/ci.yml
Owners: @your-org/devops

Sonar Quality gate
  .github/workflows/ci.yml
Owners: @your-org/devops

Sonar quality gate
  .github/workflows/ci.yml
Owners: @your-org/devops

Sonar gate devlakes
  .github/workflows/ci.yml
Owners: @your-org/devops

Project key name change
  .github/workflows/ci.yml
Owners: @your-org/devops

Updated project key
  .github/workflows/ci.yml
Owners: @your-org/devops

Sonar coverage report
  backend/phpunit.xml
Owners: @your-org/php-team

Coverage Test
  backend/phpunit.xml
Owners: @your-org/php-team

Coverage
  backend/phpunit.xml
Owners: @your-org/php-team

Test
  .github/workflows/ci.yml
Owners: @your-org/devops

Modify Test
  .github/workflows/ci.yml
Owners: @your-org/devops

phpUnit change
  backend/phpunit.xml
Owners: @your-org/php-team

Phpunit
  backend/phpunit.xml
Owners: @your-org/php-team

Changes
  .github/workflows/ci.yml
  backend/phpunit.xml
Owners: @your-org/devops, @your-org/php-team

Change
  backend/phpunit.xml
Owners: @your-org/php-team

ci.yml added
  .github/workflows/ci.yml
Owners: @your-org/devops

New
  .github/workflows/ci.yml
Owners: @your-org/devops

New 1
  .github/workflows/ci.yml
Owners: @your-org/devops

New
  .github/workflows/ci.yml
  backend/phpunit.xml
Owners: @your-org/devops, @your-org/php-team

New New
  .github/workflows/ci.yml
Owners: @your-org/devops

Push
  backend/phpunit.xml
Owners: @your-org/php-team

added backend to path
  .github/workflows/ci.yml
Owners: @your-org/devops

added coverage pcov
  .github/workflows/ci.yml
Owners: @your-org/devops

CODEOWNERS:

* @your-org/maintainers
/backend/** @your-org/php-team
/frontend/** @your-org/js-team
/.github/workflows/** @your-org/devops
