Repository viggidbest/PHP-TODO, changes with the owners that CODEOWNERS names for each.
All owners: @your-org/maintainers, @your-org/php-team, @your-org/js-team, @your-org/devops

ci.yml commit
  frontend/.github/workflows/ci.yml
Owners: @your-org/js-team

location change
  .github/workflows/ci.yml
Owners: @your-org/devops

new commit
  .github/workflows/ci.yml
Owners: @your-org/devops

Test1
  .github/workflows/ci.yml
Owners: @your-org/devops

Test 2
  .github/workflows/ci.yml
Owners: @your-org/devops

Test 3
  .github/workflows/ci.yml
Owners: @your-org/devops

test 4
  .github/workflows/ci.yml
Owners: @your-org/devops

Test 4
  .github/workflows/ci.yml
Owners: @your-org/devops

Test 5
  .github/workflows/ci.yml
Owners: @your-org/devops

new
  .github/workflows/ci.yml
Owners: @your-org/devops

New 1
  frontend/vite.config.js
Owners: @your-org/js-team

New 2
  frontend/src/App.test.js
Owners: @your-org/js-team

new 3
  frontend/vite.config.js
Owners: @your-org/js-team

New 4
  frontend/src/App.test.js
Owners: @your-org/js-team

New 5
  backend/phpunit.xml
Owners: @your-org/php-team

New 6
  backend/phpunit.xml
Owners: @your-org/php-team

New 7
  phpunit.xml
Owners: @your-org/maintainers

new 8
  phpunit.xml
Owners: @your-org/maintainers

test 10
  .github/workflows/ci.yml
Owners: @your-org/devops

Test 11
  backend/phpunit.xml
Owners: @your-org/php-team

Test 11
  backend/phpunit.xml
Owners: @your-org/php-team

Lastest
  .github/workflows/ci.yml
Owners: @your-org/devops

Latest 2
  .github/workflows/ci.yml
Owners: @your-org/devops

LAtest 4
  .github/workflows/ci.yml
Owners: @your-org/devops

Fresh
  .github/workflows/ci.yml
Owners: @your-org/devops

New ci.yml
  .github/workflows/ci.yml
Owners: @your-org/devops

indentation issue
  .github/workflows/ci.yml
Owners: @your-org/devops

Removed Php static scan
  .github/workflows/ci.yml
Owners: @your-org/devops

CS fixer - check identation removed
  .github/workflows/ci.yml
Owners: @your-org/devops

Liquibase setup
  .github/workflows/ci.yml
  db/changelogs/db.changelog-master.xml
Owners: @your-org/devops, @your-org/maintainers

liquibase fix
  .github/workflows/ci.yml
Owners: @your-org/devops

UPdate
  .github/workflows/ci.yml
Owners: @your-org/devops

Verify
  .github/workflows/ci.yml
Owners: @your-org/devops

CHange file
  .github/workflows/ci.yml
Owners: @your-org/devops

New FIle
  .github/workflows/ci.yml
Owners: @your-org/devops

new Changelog
  db/changelogs/create-todos-table.xml
  db/changelogs/db.changelog-master.xml
Owners: @your-org/maintainers

Sonar issue test
  backend/TodoRepository.php
Owners: @your-org/php-team

Sonar with logs
  .github/workflows/ci.yml
Owners: @your-org/devops

Adding Snyk Scanning
  .github/workflows/ci.yml
Owners: @your-org/devops

Run Snyk Security Scan (Backend)
  .github/workflows/ci.yml
Owners: @your-org/devops

CODEOWNERS:

* @your-org/maintainers
/backend/** @your-org/php-team
/frontend/** @your-org/js-team
/.github/workflows/** @your-org/devops
